<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280382335623-t2o2j4q6dlum6dkrdnmdlo5dbg7osou8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280382335623-t2o2j4q6dlum6dkrdnmdlo5dbg7osou8</string>
	<key>API_KEY</key>
	<string>AIzaSyAW3lg1HEbk4jFeBadr3ThdCJQ8_KUuFTs</string>
	<key>GCM_SENDER_ID</key>
	<string>280382335623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BenStewart.PlayNowApp</string>
	<key>PROJECT_ID</key>
	<string>test-b2490</string>
	<key>STORAGE_BUCKET</key>
	<string>test-b2490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280382335623:ios:9f9d93ee269f52f1902622</string>
	<key>DATABASE_URL</key>
	<string>https://test-b2490.firebaseio.com</string>
</dict>
</plist>